<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>
      You have successfully signed up to assesment.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.<br>
      Then go to profile and specify your age and gender to get access to the offers
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
